/* DETAILS ABOUT THIS STYLESHEET
    1.COMMON CSS
    2.HEADER CSS
    3.FIRST-SECTION CSS
    4.SECOND-SECTION CSS
    5.THIRD-SECTION CSS
    6.TESTIMONIAL CSS
    7.CONTACT FORM CSS
    8.FOOTER CSS
    9. MEDIA QUERY
----------------------------------- */
/* =====================
   1. Common css == 
======================== */
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    clear: both;
}
:root{
    --padding-body:30px 20% 50px 20%;
}
.btn{
    background: #E02C6D;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    cursor: pointer;

}
.btn:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}
@keyframes btn-style {
    0%{
        transform: scale(1.2);
    }
    100%{
        color: rgba(255, 255, 255, 0.37);
    }
}
/* .btn:hover i{
    animation-name: btn-style;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
} */

/* =====================
   2.HEADER CSS == 
======================== */
#header-section{
    background:  #2D25A0;
    padding: 30px 20% 50px 18%;
    color: white;
}
 #header-section:hover #i{
    animation-name: btn-style;
    animation-duration: 1s;
    animation-iteration-count: infinite;
 }
.marquee{
    display: none;
}
#first-section:hover .marquee{
    display: block;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px;
    text-align: center;
}
#first-section:hover i{
    animation-name: btn-style;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mobile-menu-btn{
    display: none;
}
#menu{
    display: flex;
}
#menu li{
    list-style: none;
    font-size: 16px;
    margin-right: 35px;
}

/* =========================
   3.FIRST-SECTION CSS == 
============================ */
#first-section{
    background: #2D25A0;
    color: white;
}
.first-section-main{
    padding:var(--padding-body);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-section-title{
    font-size: 64px;
    line-height: 1.2em;
}
#fisrt-section-img{
    width: 556.01px;
    height: 438px;
}
/* =========================
   4.SECOND-SECTION CSS == 
============================ */
#second-section{
    display: flex;
    justify-content: center;
}
.second-section-main{
    margin-top: 50px;
    padding:var(--padding-body);
    display: grid;
    grid-template-columns: repeat(3,0.2fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.players{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.players img{
    width: 300px;
    height: 256px;
}
.player-info{
    color: #6C6C6C;

}

/* =========================
    5.THIRD-SECTION CSS == 
============================ */
#third-section:hover i{
    animation-name: btn-style;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
.third-section-main{
    margin: 50px 0px;
    padding: var(--padding-body);
    display: flex;
    justify-content: center;
    align-items: center;

}
.third-section-left{
    padding: 50px;
}
.third-section-left h2{
    font-size: 48px;
    line-height: 1.2em;
}
.third-section-left p{
    color: #6C6C6C;
}

.third-section-right img{
    width: 567px;
    height: 427px;
}
/* =========================
    6.TESTIMONIAL-SECTION CSS == 
============================ */
#testimonial-section{
    background-color: #E02C6D;
    color: white;
}
.testimonial-main{
    width: 30%;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    background-color: #E02C6D;
    color: white;
    position: relative;
}
.tesmonial-article-2{
    position: absolute;
    top: 0px;
    padding: 50px;
    padding-left: 0px;
    opacity: 0;
}
.testimonial-img-p img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.testimonial-main h2{
    color: #191557;
    margin: 0px;
}
.testimonial-main small{
    color:rgb(0, 0, 0);
}
@keyframes testimonial {
    0%{
        opacity: 1;
    }

   100%{
        opacity: 0;
   }

}
.tesmonial-article-1{
    animation-name: testimonial;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}

.tesmonial-article-2{
    animation-name: testimonial;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
    animation-direction: reverse;
}
@keyframes i{
    0%{
        color: white;
    }

   100%{
        color: #ce7696;
   }

}
.i1{
    animation-name: i;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}
.i2{
    animation-name: i;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
    animation-direction: reverse;
}
/* =========================
    7.CONTACT FORM CSS == 
============================ */
#contact-section{
    padding: 100px 30% 100px 30%;
    background-color: wheat;
}
.contact-form{
    padding: 50px 12%;
    background-color: #e02c6e5e;
    font-size: 18px;
}
.contact-title{
    text-align: center;
    color: #E02C6D;
    text-transform: uppercase;
}
.contact-form input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #bb20599a;
    height: 30px;
    border-radius: 3px;
    font-size: 15px;
}
.contact-form input:focus{
    background-color: #e02c6e3d;
}

.contact-form textarea{
    width: 100%;
    border: 1px solid #bb20599a;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 18px;
    padding-left: 5px;
}
.contact-form textarea:focus{
    background-color: #e02c6e3d;
}
/* =========================
   8.FOOTER CSS == 
============================ */
footer{
    padding: 50px;
}
.footer-content {
    text-align: center;
}
.footer-content img{
    width: 483px;
    height: 110px;
}
.footer-content i{
    color: #6C6C6C;
    font-size: 36px;
    margin-right: 20px;
}
.footer-content p{
    font-size: 20px;
}
/* =========================
   9.MEDIA QUERY  == 
============================ */

/* Mobile devices */
@media screen and (max-width: 740px) {
    /* Common css */
    :root{
        --padding-body:30px 5% 50px 5%;
    }
    .btn{
 
        padding: 10px 30px;
        font-size: 14px;
    
    }
    /* header */
   #header-section{
       padding: var(--padding-body);
   }
    #menu{
        display: block;
    }
    #menu li{
        display: none;
    }
    #mobile-menu-btn{
        display: block;
        background: none;
        color: white;
        /* border: 1px solid white; */
        border: none;
        font-size: 26px;
    }
    #mobile-menu:hover #menu li{
        display: block;
        background-color: #494769;
        padding: 5px;
        position: absolute;
        top: 50px;
        left: 30px;
        z-index: 2;
    }
    /* First section */
    .first-section-main{
        padding: var(--padding-body);
        flex-direction: column;
        text-align: center;
    }
    .first-section-title{
        font-size: 36px;
    }
    #fisrt-section-img{
        Width :330px;
        height :260px
    }
    .marquee{
        font-size: 12px;
    }

    /* second-section 
    ---------------------------*/
    .second-section-main{
        max-width: 100%;
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    .second-section-main img{
        width: 100%;
        height: 400px;
    }
     /* third-section 
     ------------------------------*/
     .third-section-main{
         max-width: 100%;
         margin: 0px;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .third-section-main h2{
        margin: 0px;
        font-size: 26px;
     }
     .third-section-main p{
         line-height: 1.5em;
     }
     .third-section-right img{
         width: 100%;
         height: 300px;
     }
      /* testimonial  section 
     ------------------------------*/ 
     .testimonial-main{
         /* max-width: 100%; */
         width: 100%;
         padding: 20px 0px;
     }
     .testimonial-main article{
         padding: 15px;
     }
     /* Contact form 
     ------------------------*/
     #contact-section{
        padding: 50px 17%;
     }
     .contact-form{
        padding: 20px 15% 30px 15%;
     }
     
     .contact-title{
         font-size: 18px;
     }
     .contact-form input {
        font-size: 12px;
     }
     .contact-form textarea{
         font-size: 15px;
     }
      /* footer  section 
     ------------------------------*/
     .footer-content img{
         width: 200px;
         height: 100px;
     }
     .footer-content i{
         font-size: 22px;
     }
     .footer-content p {
        font-size: 16px;
    }

}

@media screen and (min-width: 741px) and (max-width: 991px) {
    /* Common css */
    :root{
        --padding-body:30px 5% 50px 5%;
    }
    .btn{
 
        padding: 15px 40px;
        font-size: 18px;
    
    }
    /* header */
    #header-section{
       padding: var(--padding-body);
    }
    #menu{
        display: block;
    }
    #menu li{
        display: none;
    }
    #mobile-menu:hover #menu li{
        display: block;
        background-color: #494769;
        padding: 5px;
        position: absolute;
        top: 50px;
        left: 30px;
        z-index: 2;
    }
    #mobile-menu-btn{
        display: block;
        background: none;
        color: white;
        /* border: 1px solid white; */
        border: none;
        font-size: 26px;
    }
    /* First section */
    .first-section-main{
        padding: var(--padding-body);
        flex-direction: column;
        text-align: center;
    }
    .first-section-title{
        font-size: 46px;
    }
    #fisrt-section-img{
        Width :330px;
        height :260px
    }
    .marquee{
        font-size: 12px;
    }

    /* second-section 
    ---------------------------*/
    .second-section-main{
        max-width: 100%;
        display: grid;
        padding: 10px;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .second-section-main img{
        width: 100%;
        height: 400px;
    }
     /* third-section 
     ------------------------------*/
     .third-section-main{
         max-width: 100%;
         margin: 0px;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .third-section-main h2{
        margin: 0px;
        font-size: 26px;
     }
     .third-section-left{
         text-align: center;
     }
     .third-section-main p{
         line-height: 1.5em;
     }
     .third-section-right img{
         width: 100%;
         height: 300px;
     }
      /* testimonial  section 
     ------------------------------*/ 
     .testimonial-main{
         /* max-width: 100%; */
         width: 100%;
         padding: 20px 0px;
     }
     .testimonial-main article{
         padding: 15px;
     }
     /* Contact form 
     ------------------------*/
     #contact-section{
         padding: 50px 20%;
     }
     .contact-form{
        padding: 20px 15% 30px 15%;
     }
     
     .contact-title{
         font-size: 18px;
     }
     .contact-form input {
        font-size: 12px;
     }
     .contact-form textarea{
         font-size: 15px;
     }
      /* footer  section 
     ------------------------------*/
     .footer-content img{
         width: 200px;
         height: 100px;
     }
     .footer-content i{
         font-size: 22px;
     }
     .footer-content p {
        font-size: 16px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1370px){
     /* header */
   #header-section{
        padding: var(--padding-body);
    }
    #menu{
        display: block;
    }
    #menu li{
        display: none;
    }
    #mobile-menu:hover #menu li{
        display: block;
        background-color: #494769;
        padding: 5px;
        position: absolute;
        top: 50px;
        left: 30px;
        z-index: 2;
    }
    #mobile-menu-btn{
        display: block;
        background: none;
        color: white;
        /* border: 1px solid white; */
        border: none;
        font-size: 26px;
    }
    /* First section */
    .first-section-main{
        padding: var(--padding-body);
        flex-direction: column;
        text-align: center;
    }
    .first-section-title{
        font-size: 46px;
    }
    #fisrt-section-img{
        Width :330px;
        height :260px
    }
    .marquee{
        font-size: 16px;
    }
      /* second-section 
    ---------------------------*/
    .second-section-main{
        max-width: 100%;
        display: grid;
        padding: 10px;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .second-section-main article{
        height: 600px;
    }
    .second-section-main img{
        width: 100%;
        height: 400px;
    }
     /* Contact form 
     ------------------------*/
     #contact-section{
         padding: 50px 15% 50px 15%;
     }
}